#winter-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding:10px;
  background: #90CAF9;
}

body {
  background: #E3F2FD;
  font-family: sans-serif;
}

.winter-fab {
  font-size:12px;
  border: 0;
  display: inline-block;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  background: #2196F3;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

