#winter-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding:10px;
  background: #90caf9;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
}

body {
  background: #e3f2fD;
  font-family: sans-serif;
}

.winter-fab {
  font-size:12px;
  color: #fff;
  border: 0;
  display: inline-block;
  border-radius: 50px;
  height: 24px;
  width: 24px;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  background: #2196F3;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  outline: 0;
}

